.portfolio {
    position: relative;
}

.portfolio .box {
    border-radius: 10px;
    position: relative;
}

.portfolio .box:hover {
    background-color: none;
    transform: translateY(0);
}

.portfolio .img {
    height: 300px;
    overflow: hidden;
    transition: 0.5s;
}

.portfolio img {
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
}

.portfolio .box .img:hover img {
    transform: scale(1.2);
}

.portfolio .btn-shadow {
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
        3px 3px 5px rgba(0, 0, 0, 0.1);
}

.portfolio .btn-shadow:hover {
    background-color: #4c494a;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
        3px 3px 8px rgba(0, 0, 0, 0.2);
}

.portfolio .btn-shadow:active {
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
        inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.portfolio .category {
    margin: 20px 0 30px 0;
    text-transform: uppercase;
}

.portfolio .category span {
    color: #ff014f;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 500;
}

.portfolio .arrow {
    position: absolute;
    right: 30px;
    bottom: 11%;
    transform: rotate(-45deg);
    transition: 0.5s;
}

.portfolio .title:hover .arrow {
    opacity: 1;
}

.portfolio h2 {
    font-size: 20px;
    transition: 0.5s;
    padding-bottom: 30px;
}

.portfolio .box:hover h2 {
    color: #fff;
}

.portfolio .box:hover {
    background-color: #443d3d;
    transition: 0.5s;
}

.portfolio label {
    display: flex;
    width: 70px;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.portfolio .box:hover label {
    color: #fff;
    transition: 0.5s;
}