.Contact .left {
    width: 35%;
}

.Contact .right {
    width: 60%;
}

.Contact .box {
    padding: 30px;
}

.Contact .box img {
    max-width: 100%;
}

.Contact .details h1 {
    margin: 20px 0;
}

.Contact .details p {
    font-size: 17px;
}

.Contact .button {
    margin-top: 20px;
}